In [1]:
import mysql.connector

### Checking Python driver connection with MySQL

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="edyoda",
  passwd="Abcd@1234"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe740126550>

### Building cursor Object

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute("CREATE DATABASE mydb")

### Connecting to new database

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user="edyoda",
  passwd="Abcd@1234",
  database="mydb"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe7401e3a20>

### Build Cursor Object for executing SQL Command

In [7]:
mycursor = mydb.cursor()

### Create Table Product in database

In [9]:
mycursor.execute("CREATE TABLE Product (ProductID int PRIMARY KEY, Name varchar(30), Description varchar(255))")

### Insert data into this table

In [20]:
mycursor = mydb.cursor()

sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = ("2","Book", "Shoe Dog")

In [21]:
mycursor.execute(sql,val)

In [22]:
mydb.commit()

In [31]:
mycursor = mydb.cursor()
val1 = ("5","Shoe", "Addidas")
val2 = ("6","Book", "Hard Things about Hard Things")

In [32]:
mycursor.execute(sql,val1)
mycursor.execute(sql,val2)

In [33]:
mydb.commit()

In [34]:
val = [("7","Book", "Lean In"),("8","Book", "Thinking Slow Thinking Fast")]

In [35]:
mycursor.executemany(sql,val)

In [36]:
mydb.commit()

### Show list of products

In [37]:
mycursor.execute("SELECT * FROM Product")

In [38]:
products = mycursor.fetchall()

In [39]:
for product in products:
    print (product)

(1, 'Book', 'Shoe Dog')
(2, 'Book', 'Shoe Dog')
(3, 'Shoe', 'Reebok')
(4, 'Shoe', 'Addidas')
(5, 'Shoe', 'Addidas')
(6, 'Book', 'Hard Things about Hard Things')
(7, 'Book', 'Lean In')
(8, 'Book', 'Thinking Slow Thinking Fast')

### Delete some product

In [41]:
sql = "DELETE FROM Product WHERE Name = 'Shoe'"

In [42]:
mycursor.execute(sql)

In [43]:
mydb.commit()