In [2]:
print("Hi")

Hi

In [ ]:
ctrl + enter 
shift + enter

In [ ]:
Datatypes : 
    1. int 10 15 
    2. float 10.255 56.555
    3. str 'Hi' "Python" """Welcome to python """
    4. list [45,70,80,50,60] [10,20,30,40,"Python","Java",[100,200,300,400]]
    5. tuple (10,20,30,40,"Python","Java")
    6. dict {"email":"abc@gmail.com","contact":"974445577888","age":57}
    7. set {10,20,30,40}
    8. bool True False
    None

In [ ]:
everything in python is object

In [5]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [ ]:
PEP 8 => guidelines about how your python code should look

In [ ]:
balance = 455
remaining_balance = 500

first_name
firstName

In [9]:
num_one = 100

In [10]:
FIRST_NAME = "Kunal"

In [ ]:
num_one = 100
FILE_LOCATION = ""

In [ ]:
* Always give meaningful variable names 

1. underscore first_name
2. for variable name it should start with lower_case aplha 
3  For constants ALL CAPS 
4. digits are allowed but not ata the start ,only special char allowed  _

In [13]:
name = "ABC"
print(type(name))

<class 'str'>

In [14]:
nums = [100,200,300,400,500]
print(type(nums))

<class 'list'>

In [12]:
print(10,20,30)

10 20 30

In [15]:
d = {1 : 1,2:4,3:9,4:16}
print(type(d))

<class 'dict'>

In [ ]:
Immutable Vs Mutable

In [ ]:
id() : moemory location

In [18]:
num1 = 100 
print(num1,id(num1))

num1 = 200
print(num1,id(num1))

100 1950775456
200 1950778656

In [ ]:

200 num1

In [ ]:
Memory Location :
    1. Immutable : At same memory location I can not change the value 
    2. Mutable : I can change the value at same memory location

In [20]:
s = "Python"
print(id(s))
s = "Java"
print(id(s))

2294699463600
2294707090968

In [23]:
l = [10,20,30,40]
print(id(l))
l.append(50)
print(id(l))

2294738662600
2294738662600

In [ ]:
Mutable : Add,Update and delete operations
Immutable : Can not perform add,update,delete

In [ ]:
Immutable :
    int 
    float 
    str
    tuple
    
Mutable : (Add,Update and Delete) 
    list
    dict 
    set

In [26]:
s = {10,20,20,20,30,30,30,40,50}
print(type(s),s)

<class 'set'> {40, 10, 50, 20, 30}

In [ ]:
type()
id()

In [46]:
num1 = 257
num2 = 257
print(id(num1),id(num2))

2294739859664 2294739859984

In [ ]:
0 - 256 => Object intering

In [48]:
s1 = "Python"
s2 = "Java"
print(s1 - s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
Opeartors :
    1. Arithmetic Operator : +,-,*,/,**,// => floor division ,% => mod, / => True division 
    2. Comparison operators ==,<,>,<=,>= ,!= => True/False 
    3. Memership operators : in not in
    4. Identity Operators : is is not
    5. Assignment operator =,+=,-=,*=,/=
    6. Logical Operators and or not

In [51]:
print(10 / 3)
print(10 // 3)
print(10 % 3)

3.3333333333333335
3
1

In [52]:
print(10 ** 2)

100

In [53]:
s1 = "Python"
s2 = "python"
print(s1 == s2)

False

In [54]:
print(10 > 5)

True

In [56]:
l = [100,200,300,400,500]
print(4000 in l)

False

In [57]:
s1 = "Python"
print("n" in s1)

True

In [60]:
s1 = "Python"
print("P" not in s1)

False

In [61]:
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [ ]:
Not iterable int,flaot 
Iterable : str,tuple,list,dict,set

In [62]:
l = [100,200,300,400,500]
print(1000 not in l)

True

In [64]:
d = {1: 100,2:200,3:300}
print(3 in d)

True

In [ ]:
in not in will not work with int,float 
in case of dict in/not in will only check with keys , will not check with the values

In [70]:
num1 = 1000
num2 = 1000

print(num1 == num2)
print(num1 is num2)

True
False

In [67]:
l1 = [10,20,30]
l2 = [10,20,30]

print(l1 == l2)
print(l1 is l2)

True
False

In [ ]:
== Values
is Memory Location

In [74]:
num1 = 100 
print(num1)
num1 += 10
# num1 = num1 + 10
print(num1)

num1 -= 5
print(num1)

100
110
105

In [76]:
print(100 != 100 or 100 == 100 )

True

In [ ]:
True/False :
    comparison ==,!=,<,>,=,>= 
    membership 
    logical 
    identity operators

In [ ]:
type()
id()

In [ ]:
num1 = 25
num2 = 25

In [ ]:
l1 = [10,20,30]
l2 = [10,20,30]

In [ ]:
immutable :
    int float tuple 
mutable 
    list dict set

In [ ]:
Iterable :
    string , list ,dict ,set ,tuple 
    
Not Iterable : int ,float

In [ ]:
in = > 
dict : keys

In [ ]:
== , is